<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>listCategory</servlet-name>
        <servlet-class>controller.all.listCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listMenu</servlet-name>
        <servlet-class>controller.all.listMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookTable</servlet-name>
        <servlet-class>controller.all.bookTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>controller.admin.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUser</servlet-name>
        <servlet-class>controller.admin.getUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUser</servlet-name>
        <servlet-class>controller.admin.createUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>controller.admin.editUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTable</servlet-name>
        <servlet-class>controller.admin.ManageTableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listCategory</servlet-name>
        <url-pattern>/listcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listMenu</servlet-name>
        <url-pattern>/listmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookTable</servlet-name>
        <url-pattern>/booktable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUser</servlet-name>
        <url-pattern>/getuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createUser</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTable</servlet-name>
        <url-pattern>/managetable</url-pattern>
    </servlet-mapping>
</web-app>
